<html> 
<title>
Index page at {{ ansible_facts.fqdn }}
</title>
<body>
<h1>Role played successfully</h1>
<hr>
<p>Author: {{ author }}</p>
<p>Creation date: {{ ansible_date_time.date }}</p>
</body>
</html>
